/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

package {{package}};

import com.github.sviperll.higherkindedjava.Type;

public class {{class}} {
    public static final Is<?> GET = new Is<>(Type.ConstructorIs.SUPPORT);
    {{class}}() {
    }
    public static class Is<TC extends Type.Constructor> extends Type.ConstructorIs<TC> {
        private Is(Type.ConstructorIs.Support<TC> support) {
            super(support);
        }
        public <T> Type.App<TC, T> convertToTypeApp({{annotated}}<T> value) {
            return this.<{{annotated}}<T>, T>unsafeConvertToTypeApp(value);
        }
        public <T> {{annotated}}<T> convertTo{{annotated}}(Type.App<TC, T> value) {
            return this.<{{annotated}}<T>, T>unsafeConvertToValue(value);
        }
    }
}

